.attendance{
    display: block;
    margin: auto;
    align-items: center;
}
h4{
    text-align: center;
    margin-top: 20px;
    margin-right: 210px;
}
.leaveForms{
    position: absolute;
    top: 100px;
    left: 1350px;
    border: 2px solid transparent;
}
.leaveForms > h4{
    font-size: 25px;
    font-weight: 600;
}
.leaveForms > button{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 12px;
    width: 50%;
    background-color: #060b26;
    color: white;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    border: 4px solid transparent;

}